/* defult-css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-section */
.container{
    width: 1240px;
    margin: auto;
}
img{
    width: 100%;
}
.header-section{
    background-color: #291d89;
    text-align: center;
    padding: 5px 0;
}
.header-section img{
   width: 65px;
}

/* header-menu */
.header-bottom{
    background-color: red;
    text-align: center;
}
.header-bottom .header-menu{

}
.header-bottom .header-menu ul{
    padding: 20px 5px;
    display: inline-block;
}
.header-bottom .header-menu ul li{
    list-style: none;
    display: inline-block;
    border-right: 1px solid white;
}
.header-bottom .header-menu ul li a{
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.header-bottom .header-menu ul li:nth-child(6){
    border: none !important;
}

/* banner-section-1 */
.baner-section{
    background-image: url(./image/banner_image-1.jpg);
    color: white;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
    text-align: center;
}
.baner-section h2{
    font-size: 30px;
    padding-bottom: 20px;

}
.baner-section p{
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
    width: 800px;
    text-align: center;
    display: inline-block;
}
.baner-section button{
    padding: 10px 20px;
    background-color: #008000;
    border: none !important;
}
.baner-section button a{
    text-decoration: none;
    color: white;
}
/* about-section */
.about-section{
    background-image: url(./image/banner_image-2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
    text-align: center;
}
.about-section h2{
    background-color: #008000;
    font-size: 30px;
    color: white;
}
.about-section p{
    background-color: #ffff00;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.about-section button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color:black;
    border: none !important;
}
.about-section button a{
    text-decoration: none;
    color: white;
}

/* service-section */
.service-section{
    background-color: #4ab75c;
    padding-top: 50px;
}
.service-section h2{
    text-align: center;
    padding-top: 50PX;
}
.service-img{
   padding: 40px 0px;
}
.service-img img{
    display: inline-block;
    width: 100px;
    margin-left: 100px;
   }
.service-1{
    width: 600px;
    display: inline-block;
   margin-left: 100px;
}
.service-1 h2{
    text-align: left;
}

/* footer-section */
.footer-section{
    background-color: #2c1a8e;
    text-align: center;
}
.footer-section ul{ 
    padding: 25px 5px;
    display: inline-block;
}
 
.footer-section ul li{ 
    list-style: none;
    display: inline-block;
}
.footer-section ul li a{
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 15px;
}